<!doctype html>
<html lang="en" ng-app="myAppLogin">
<head>
    <meta charset="utf-8">
    <title>Planner App Login</title>

    <link rel="stylesheet" href="/app/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/app/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/app/css/app.css"/>
</head>
<body>

<script src="/app/lib/jquery-2.1.0.min.js"></script>
<script src="/app/bootstrap/js/bootstrap.js"></script>
<script src="/app/lib/angular/angular.js"></script>
<script src="/app/lib/angular/angular-resource.js"></script>
<script src="/app/lib/underscore/underscore.js"></script>
<script src="/app/lib/underscore/angular-underscore.js"></script>

<script src="/app/js/appLogin.js"></script>

<div class="container">
    <div class="col-sm-8 col-sm-offset-2">

        <div class="Login">
            <h4>Login</h4>

            <form name="loginForm" novalidate action="/login" method="POST">

                <div class="form-group"
                     ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                    <label for="username">Email</label>
                    <input type="email" name="username" id="username" class="form-control" ng-model="user.Email" required/>
                    <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Invalid
                        Email.</p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" ng-model="user.Password" required
                           ng-minlength="6" id="PasswordID"/>

                    <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
                </div>
                <input type="hidden" value="1" name="client_id"/>
                <input type="hidden" value="password" name="grant_type"/>
                <input type="hidden" value="secret" name="client_secret"/>
                <input id="login" name="login" type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" value="Sign In"/>
                <a href="/index.html#/register">
                    <input type="button" value="Register" class="btn btn-primary"/>
                </a>
            </form>

        </div>

    </div>
</div>

</body>
</html>
