Clients/Mobile/App1/obj/
Clients/Mobile/App1/bin/
server/target
server/project/target
server/.idea
server/*.ipr
server/node_modules
server/logs/application.log
server/main.iws
server/project/project
Clients/Mobile/CommonBL/bin/
Clients/Mobile/CommonBL/obj/
Clients/web/.idea
Clients/web/web.iml
Clients/Mobile/packages/
server/public/elm/node_modules
.DS_Store
